<h2>
  Add a Product
</h2>

<form method="post" action="/products/new">
  <label for="product-name-input">Prodcut Name </label>
  <input id="product-name-input" type="text" name="productName" />
<br/>
<label for="product-price-input">Prodcut Name </label>
<input id="product-price-input" type="number" name="productPrice" />
<br/>
<label for="product-image-input">Image Address</label>
<input id="product-image-input" type="url" name="productImageUrl" />
<br/>
<label for="product-description-input">Description</label>
<textarea id="product-description-input" name="productDescription" /></textarea>
<br/>

<input value="Add new Product"/>
</form>
