<h2> Product List </h2>

<ul>
  <% products.forEach((oneProduct) => { %>
<li>
  <%=oneProduct.name %> - $<%= oneProduct.price %>
</li>
 <%  }) %>
</ul>

<a href="/prudcts/new">
  <pre>
  Add a Product
  </pre>
</a>

<form method="post" action="/products/new">
  <label for="product-name-input">Prodcut Name </label>
  <input id="product-name-input" type="text" name="productName" />
<br/>
<label for="product-price-input">Product Price</label>
<input id="product-price-input" type="number" name="productPrice" />
<br/>
<label for="product-image-input">Image Address</label>
<input id="product-image-input" type="url" name="productImageUrl" />
<br/>
<label for="product-description-input">Description</label>
<textarea id="product-description-input" name="productDescription" /></textarea>
<br/>

<button>Add new Product</buttton>
</form>
